
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
#about #name {
    color: blue;
    font: 1.8rem;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
th, td {
    border: 1px solid #1b72be;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #b0d1f9;
}
tr:hover {
    background-color: #c7161650;
    transform:scale(1.1);
}
header {
    background-color: #1d1d1d;
    color: #fff;
    padding: 20px 0;
}
#pp {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #ccc;
}
#pp button{
    text-align: center;
    font-size: 1.2rem;
    border-radius: 7px;
    background-color: #1b72be;
    cursor: pointer;
}
header h1 {
    margin: 0;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}


main {
    padding: 20px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.h-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#ull{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tit {
    text-align: center;
    margin: 2rem;
}

#about P{
    font-size: 1.2rem;
    color: #024279;
}
#about ul,
#web {
    list-style: none;
    display: flex;
    align-items: start;
}

#about ul li,
#web li {
    padding: 10px 20px;
    font-size: 1rem;
    color: rgb(29, 116, 208);
}
.project1{
    background-image: url("1.png");
}
.project2{
    background-image: url("5.png");
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 3rem;
    width: calc(33.33% - 40px);
    box-sizing: border-box;
}

#links {
    text-align: center;
}

#links ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

#links ul li {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#links ul li a {
    color: #333;
    text-decoration: none;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}


#about {
    text-align: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.skill-category {
    margin: 0 2rem;
}

.skill-category h3 {
    color: #333;
    margin-bottom: 1rem;
}

.skill-list {
    list-style: none;
    padding: 0;
}

.skill-item {
    margin-bottom: 0.5rem;
}

.skill-item:before {
    content: "\2022"; /* Bullet character */
    color: rgb(29, 116, 208);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.skill-item span {
    margin-left: 0.5rem;
    color: #666;
}


.allimg {
    height: 30rem;
    width: 25rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    padding: 10px 0; 
}

footer {
    padding: 10px 0; 
}


table {
    width: 100%; 
}

@media only screen and (max-width: 768px) {
    .allimg {
        height: 20rem; 
        width: 100%; 
    }
}
.socials
{
    padding: 50px;
    margin: 20px;
}


@media only screen and (max-width: 768px) {
    header {
        padding: 10px 0; 
    }

    header nav {
        justify-content: flex-end; 
    }

    header nav ul {
        flex-direction: column; 
        text-align: right; 
    }

    header nav ul li {
        margin: 10px 0; 
    }

    .project {
        width: calc(100% - 40px); 
    }
}