* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.txt {
    text-align: center;
    color: #5779E0;
}

.main {
    padding: 5rem; /* Adjusted padding for better spacing */
    text-align: center;
}

#resume {
    color: #ffffff;
    background-color: #5779E0;
    font-size: 1.2rem;
    height: 3rem;
    border-radius: 1.5rem;
    margin-top: 1rem;
    cursor: pointer;
    border: none; /* Remove default button border */
}

#resume:hover {
    background-color: #023ff7;
    font-weight: bold;
}

.about__description {
    max-width: 100%; /* Adjusted max-width for better responsiveness */
    padding: 2rem;
    font-size: 1.2rem;
    color: #023ff7;
}

.ab {
    display: flex;
    flex-wrap: wrap; /* Wrap elements if they exceed container width */
    justify-content: space-around;
    margin: 2rem 0;
}

.ab > div {
    flex-basis: calc(50% - 4rem); /* Each section takes 50% of container width with some margin */
    margin: 2rem;
}

.ab img {
    max-width: 100%; /* Ensure images don't exceed their container */
}

.skills {
    color: #023ff7;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 5px;
}

.line {
    height: 3px;
    background-color: #5779E0;
}

.for {
    display: flex;
    flex-wrap: wrap; /* Wrap items if they exceed container width */
    justify-content: space-around;
    margin: 2rem 0;
}

.ip {
    margin: 10px;
    width: 100%;
    max-width: 400px; /* Set maximum width for input fields */
}

.ip input,
.ip textarea {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgba(33, 8, 222, 0.2);
    font-size: 1.2rem;
    color: white;
    resize: none; /* Prevent resizing of textarea */
}

.con a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #023ff7;
    padding: 0.5rem;
}

@media screen and (max-width: 768px) {
    .ab > div {
        flex-basis: 100%; /* On smaller screens, make each section take full width */
    }
}

@media screen and (max-width: 480px) {
    .main {
        padding: 3rem; /* Adjusted padding for smaller screens */
    }

    .ab {
        flex-direction: column; /* Stack sections vertically on smaller screens */
    }

    .ab > div {
        margin: 1rem 0;
    }

    .line {
        margin-left: 0;
    }

    .ip {
        margin: 5px 0;
    }
}
