*{
    margin:0;
    padding:0;
}
body{
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.txt{
    text-align: center;
    color: #5779E0;
}
.main{
    height: 100vh;
    text-align: center;
    margin: 10rem;
}
#resume{
    color: rgb(255, 255, 255);
    background-color: #5779E0;
    font-size: 20px;
 
    height: 40px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;

}
#resume:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    height: 40px;
}
.about__description{
    height: 20rem;
    width: 20rem;
    padding: 6rem;
    margin: 3rem;
    font-size: 1.5rem;
    color: #023ff7;
  
   
}
.ab{
    margin: 2rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.con{
    display: flex;
    flex-direction: column;
    justify-content: center;
  
}
.con a{
    font-size: 1.1rem;
    text-decoration: none;
    color: #023ff7;
    padding: 1rem;
}

.for{
    display: flex;
    justify-content: space-evenly;
}


.ipc{
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 20.5rem;
    height: 2rem;
    background-color: rgba(33, 8, 222, 0.389);
    font-size: 1.3rem;
    color: white;
    
}
textarea{
    background-color: rgba(33, 8, 222, 0.389);
    width: 20.5rem;
    font-size: 1.3rem;
    color: white;
    border-radius:10px;
}
#sks{
    text-align: center;
    margin: 1.6rem;

}
.line{
    position: relative;
    height: 10px;
    width: 500px;
background-color:#5779E0;
margin-left: 300px;
}
.skills{
    color:#023ff7 ;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
}